# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment Variables
.env

# Logs
logs/*.log

# Outputs
outputs/

# Uploads
uploads/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db